.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
.sidemargin {
  max-width: 1440px;

  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.header {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10px;
}
.brand {
  font-size: 45px;
  font-weight: 700;
}
.nav-button {
  display: flex;
  gap: 20px;
}
.nav-button li {
  list-style: none;
}
.nav-button li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #424242;
}
.hero-section-containt {
  text-align: center;
}
.hero-section-containt h1 {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.all-p-style {
  margin-top: 10px;
  color: #727272;
  font-size: 1rem;
}
.Explore-More-btn {
  padding: 20px 24px;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  background-color: #ff900e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 50px 0;
}
.hero-img-section {
  width: 100%;
}
.hero-img-section img {
  width: 100%;
  margin-bottom: 45px;
}
.features-container {
  display: flex;
  margin-top: 85px;
  gap: 50px;
  align-items: center;
}
.features-imges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  flex: 0 0 50%;
}
.features-img {
  width: 100%;
}
.features-img img {
  width: 100%;
}
.features-contant {
  flex: 0 0 calc(50% - 50px);
}
.features-contant h2 {
  font-size: 2.813rem;
  color: #131313;
  font-weight: 700;
}
.will-section {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.will-contant-container {
  flex: 0 0 calc(50% - 65px);
}
.will-image-container {
  flex: 0 0 calc(50% - 65px);
}
.will-images {
  width: 100%;
  position: relative;
}
.will-images img {
  width: 100%;
}
.will-title {
  font-size: 2.813rem;
  font-weight: 700;
  color: #131313;
}
.will-box {
  border: 1px solid gainsboro;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.will-box h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #131313;
}
.will-image-experience {
  position: absolute;
  background-color: #ff900e;
  padding: 45px;
  border-radius: 20px;
  text-align: center;
  bottom: -50px;
  left: -50px;
}
.some-facts-section {
  margin-top: 130px;
}
.some-facts-contant {
  max-width: 542px;
}
.some-facts-contant h2 {
  font-size: 2.813rem;
  font-weight: 700;
  color: #131313;
}
.fects-parents {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.some-fects-box {
  border: 1px solid #ff900e;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
}
.some-fects-box > div h4 {
  font-size: 2.813rem;
  font-weight: 600;
  color: #424242;
}
.some-fects-box > div p {
  font-size: 1.25rem;
  font-weight: 600;
  color: #727272;
}
.sponspors {
  margin-top: 180px;
}
.sponspors-contant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponspors-contant h2 {
  font-size: 2.813rem;
  font-weight: 700;
  color: #131313;
}
.sponspors-contant p {
  max-width: 542px;
  text-align: center;
}
.sponsors-image {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 20px;
}
.sponsors-image > div img {
  filter: grayscale(100%);
}
/* footer */
.footer {
  margin-top: 130px;
  background-color: #fff4e7;
  padding: 40px;
  border-radius: 20px;
}
.footer p {
  text-align: center;
}

/* mobile responsive */
@media screen and (max-width: 576px) {
  .navbar {
    display: block;
  }
  .brand {
    text-align: center;
  }
  .nav-button {
    justify-content: center;
    margin-top: 10px;
    justify-content: space-between;
  }
  .hero-section-containt h1 {
    font-size: 2rem;
  }
  .p-br {
    display: none;
  }
  .features-container {
    flex-direction: column-reverse;
  }
  .will-section {
    flex-direction: column;
    gap: 50px;
  }
  .will-image-experience {
    left: 0;
  }
  .sponsors-image {
    flex-direction: column;
    align-items: center;
  }
}
/* tablet responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .navbar {
    display: block;
  }
  .brand {
    text-align: center;
  }
  .nav-button {
    justify-content: center;
    margin-top: 10px;
  }
  .hero-section-containt h1 {
    font-size: 3rem;
  }
  .features-container {
    flex-direction: column-reverse;
  }
  .will-section {
    flex-direction: column;
    gap: 50px;
  }
  .will-image-experience {
    left: 0;
  }
}
